footer {
    background-color: rgb(229, 202, 160);
}

#footer {
    color: rgba(94, 89, 63, 0.918);
    height: 2em;
    font-size: 1.1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

